html body {
  padding: 0px;
  margin: 0px;
  /* background-color: rgb(47, 51, 55); */
  color: beige;
}

.theme {
  background-color: rgb(47, 51, 55);
  color: beige;
}

.theme-bg {
  background-color: rgb(2, 16, 29);
}

.theme-color {
  color: beige;
}

.border-right {
  border-right: 1px solid #3d3d3e;
}